body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 63px 100px 30px 100px;
}

.header__title {
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
}

.header-title__part {
  color: #000000;
}

.header-nav {
  margin-top: 38px;
}

.header-nav__list {
  display: flex;
  justify-content: center;
  background-color: #35444f;
}

.header-nav__item {
  font-size: 24px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}

.header-nav__item:first-child {
  border-left: 1px solid #ffffff;
}

.header-nav__item:hover {
  background: #222f3a;
}

.header-nav__link {
  text-decoration: none;
  color: #ffffff;
  padding: 26px 33px 19px 33px;
  display: block;
}

.main {
  display: flex;
  justify-content: column;
  justify-content: space-between;
  margin-top: 48px;
}

.vertical-menu__list {
  border: 1px solid #000000;
  min-width: 320px;
}

.vertical-menu__item {
  font-size: 27px;
  color: #35444f;
}

.vertical-menu__item:hover {
  background: #dbdbdb;
}

.vertical-menu__link {
  color: #495863;
  padding: 26px 40px 26px 44px;
  display: block;
}

.vertical-menu__link:hover {
  color: #000000;
}

.vertical-menu__section:hover {
  margin-left: 30px;
}

.main-information {
  max-width: 885px;
}

.image-container {
  padding: 75px 260px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
}

.main__image {
  max-width: 320px;
  transition: transform 0.25s;
}

.main__image:hover {
  transform: scale(1.1);
}

.main-information__text {
  font-size: 18px;
  color: #2c2c2c;
  margin-top: 37px;
  line-height: 24px;
}

.footer {
  margin-top: 54px;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.footer-nav__list {
  display: flex;
  justify-content: center;
}

.footer-nav__link {
  font-size: 28px;
  margin-right: 20px;
  color: #0c1927;
  position: relative;
}

.footer-nav__link:hover {
  color: #3181a6;
}

.footer-nav__link:hover::after {
  position: absolute;
  display: block;
  background-color: #3181a6;
  height: 2px;
  width: 100%;
  content: "";
  margin-top: 12px;
}

.footer-nav__copyright {
  font-size: 24px;
}
